<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>User</h2>

      <div class="">
        <div class="font-weight-bold"><%= @user.name %></div>
        <div><%= @user.email %></div>
      </div>
    </div>
    <div class="col-md-7">
      <h2>Events</h2>

      <ul class="events">
      <% if @events.any? %>
        <% render @events %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
