<main>
  <img src="https://www.southeastconsortium.org.uk/wp-content/uploads/2019/02/30064098-The-word-Events-in-cut-out-magazine-letters-pinned-to-a-cork-notice-board-Stock-Photo.jpg" alt="Photo">
</main>